.import-error {
  color: red;
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
}

ng-bpmn-app-root {
  display: flex;
  flex-direction: column;
  height: 100%;

  mat-tab-group {
    height: 100%;

    .mat-mdc-tab-body-wrapper {
      flex-grow: 1;
    }

    .mat-mdc-tab-body-content {
      display: flex;
      flex-direction: column;
    }
  }
}
