<mat-toolbar>
  <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span>ng-bpmn</span>
  <span class="example-spacer"></span>

  <button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="Download diagram">
    <mat-icon fontSet="material-icons-outlined">cloud_download</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="saveXML(bpmn)">Save XML</button>
    <button mat-menu-item (click)="saveSVG(bpmn)">Save SVG</button>
  </mat-menu>

  <button mat-icon-button matTooltip="Toggle Properties" (click)="showProperties = !showProperties">
    <mat-icon fontSet="material-icons-outlined">wysiwyg</mat-icon>
  </button>
</mat-toolbar>

<mat-tab-group animationDuration="0ms" [mat-stretch-tabs]="false">
  <mat-tab label="Bpmn">
    <ng-bpmn #bpmn [url]="diagramUrl" [showProperties]="showProperties" [showMinimap]="true" (importDone)="handleImported($event)" />
  </mat-tab>
  <mat-tab label="Dmn">Coming soon...</mat-tab>
  <mat-tab label="Form">Coming soon...</mat-tab>
</mat-tab-group>



<div class="import-error" *ngIf="importError">
  <strong>Failed to render diagram: </strong>
  {{ importError.message }}
</div>

<router-outlet></router-outlet>
